{% extends "base.html" %}
{% load static %}

{% block meta %}
<script src="{% static 'js/tracker.js' %}"></script>
{% endblock %}

{% block content %}
  <div id="timer-not-running" class="mw7 center pa4 tc f3 br4 mv4 bg-dark-blue near-white mb4 dn">
    <form id="timer-form">
      <div class="mv2">
        <label for="client" class="db mb2">Client</label>
        <select id="client" class="bg-near-white">
          {% for client in clients %}
            <option value="{{ client.pk }}">{{ client.name }}</option>            
          {% endfor %}
        </select>
      </div>
      <div class="mv3">
        <button class="f3 link dim br3 ph3 pv2 mb2 dib near-black bg-yellow bw0">Start</button>          
      </div>
    </form>
  </div>

  <div id="timer-running" class="mw7 center pa4 tc f3 br4 mv4 bg-dark-blue near-white mb4 dn">    
    <div class="mt2 f-headline courier">
      <span id="hours"></span>:<span id="minutes"></span><span class="f4 light-gray" id="seconds"></span>
    </div>
    <div class="mb2 f3" id="client-name"></div>        
    <div class="mv3">
      <button id="stop-timer-button" class="f3 link dim br3 ph3 pv2 mb2 dib near-white bg-red bw0">Stop</button>          
    </div>
  </div>    

  <div class="tc">Logged in as {{ request.user.username }}</div>
{% endblock %}
